.errr{
    color:rgb(248, 18, 10);
    background-color: rgb(248, 214, 214);
}
.recover{
    color:rgb(7, 119, 3);
    background-color: rgb(203, 243, 191);
}
.formchecklabel{
    margin: 0px 5px 0px 5px;

}
.firstDiv{
    display: inline-block;
    min-width: 30%;
}
.secondDiv{
    display: inline-block;
    width: 260px;
}
